<div class="main-container">
  <div class="main wrapper clearfix">

    <h1>Request Header Parse Microservice</h1>

    <h3>User stories:</h3>
    <blockquote>
      <p>I can get the IP address, language and operating system for my browser.</p>
    </blockquote>

    <h3>Visit this link to get header parse</h3>
    <a href="http://sample-env.gngvm9tarr.us-west-2.elasticbeanstalk.com/whoami" class="exampleLinks">http://sample-env.gngvm9tarr.us-west-2.elasticbeanstalk.com/whoami</a>


    <h3>Example output</h3>
    <p>{"IP":"77.237.102.162","language":"en-US","software":"Windows NT 10.0; Win64; x64"}<p>

  </div>
  <!-- #main -->
</div>
<!-- #main-container -->